.primary {
  background-color: var(--primary-color);
  min-width: 120px;
  padding: 0.4rem 2rem;
  text-align: center;
  border-radius: 0.4rem;
  font-weight: 600;

  transition: background-color 0.2s ease-in-out;
}

.primary:hover {
  background-color: var(--secondary-color);
}

.secondary {
  text-align: center;
  border-bottom: 1px solid var(--black);
  transition: padding-bottom 0.2s ease-in-out;
}

.secondary:hover {
  padding-bottom: 0.2rem;
}

/* --------- PLANS --------- */
.plan__item {
  background-color: var(--white);
  border-radius: 0.4rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 2rem var(--primary-color-shadow);
}

.plan__title {
  font-size: var(--font-size-subtitle);
  line-height: var(--line-height-subtitle);
  font-weight: 600;
}

.plan__description {
  line-height: 1.8rem;
  text-align: center;
}