@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url(./fonts/montserrat/Montserrat-ExtraLight.woff2) format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url(./fonts/montserrat/Montserrat-Regular.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url(./fonts/montserrat/Montserrat-Medium.woff2) format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url(./fonts/montserrat/Montserrat-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url(./fonts/montserrat/Montserrat-Bold.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url(./fonts/montserrat/Montserrat-ExtraBold.woff2) format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url(./fonts/montserrat/Montserrat-Black.woff2) format('woff2');
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Yellowtail";
  src: local("Yellowtail"), url(./fonts/Yellowtail-Regular.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
}

:root {
  /* FONTS SIZES */
  --font-bigger: 64px;
  --font-semibig: 52px;
  --h1: 32px;
  --h2: 28px;
  --h3: 24px;
  --h4: 22px;
  --h5: 20px;
  --h6-p: 18px;

  /* COLORS */
  --black: #181616;
  --black80: rgba(24, 22, 22, 0.8);
  --black40: rgba(24, 22, 22, 0.4);
  --black20: rgba(24, 22, 22, 0.2);
  --color-primary: #faedcd;
  --color-secondary: #63adf2;
  --color-tertiary: #fefae0;
  --grey-footer: #898989;
  --color-secondary-shadow: #3982c5;

  /* PADDINGS AND MARGINS */
  --margin-one: 25px;
  --padding-one: 10px;
  --margin-two: 60px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: var(--h1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

h2{
  font-size: var(--h2);
}

h3{
  font-size: var(--h3);
}

h4{
  font-size: var(--h4);
}

h5{
  font-size: var(--h5);
}

p, h6{
  font-size: var(--h6-p);
}

@media screen and (max-width: 780px) {
  p, h6 {
    font-size: calc(var(--h6-p) - 3px);
  }
  h2{
    font-size: calc(var(--h2) - 3px);
  }
}