:root {
  --black: #202020;
  --white: #fff;
  --primary-color: #DACBFB;
  --secondary-color: #B1D4B5;
  --tertiary-color: #FED6D0;
  --primary-color-shadow: #b2a9c7;

  --font-size-title: clamp(1.3rem, 2vw, 1.7rem);
  --font-size-subtitle: clamp(1.1rem, 1.8vw, 1.5rem);
  --line-height-title: clamp(1.7rem, 2.4vw, 2.1rem);
  --line-height-subtitle: clamp(1.4rem, 2.1vw, 1.9rem);

  --global-padding: clamp(1rem, 4vw, 5rem);

  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;

  -webkit-box-sizing: border-box;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;

  -o-object-fit: cover;
  -o-object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1rem;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

::-moz-selection,
::selection {
  background-color: var(--black);
  color: var(--blanco);
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  appearance: none;

  -ms-hyphens: auto;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-hyphens: auto;
}

body,
.global__container {
  min-height: 100vh;
}

body {
  font-size: 100%;
  color: var(--black);
  line-height: 1.4rem;
  hyphens: auto;
  font-smooth: always;

  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.global__container {
  display: flex;
  gap: clamp(1.5rem, 5vw, 3rem);
  flex-direction: column;
  background: linear-gradient(180deg, #FFFFFF 0%, #E5D9FF 100%);
  padding-bottom: clamp(1.5rem, 5vw, 3rem);
}