:root {
  --black: #141414;
  --linear-black-gradient: linear-gradient(180deg, #141414cc, var(--black));
  --blue: #007CF0;
  --purple: #7928CA;
  --white: #ffffff;
  --white-shadow: rgba(255 255 255 / 0.8);
  --grey: #666666;
  --grey-shadow: #d6d6d6;

  /* gradients */
  --primary-gradient: linear-gradient(90deg, var(--blue) 0%, #00DFD8 100%);
  --primary-gradient-shadow: linear-gradient(0deg, #01AFE4 0%, transparent 100%);
  --secondary-gradient: linear-gradient(90deg, var(--purple) 0%, #FF0080 100%);
  --secondary-gradient-shadow: linear-gradient(0deg, #BE14A4 23.55%, transparent 100%);
  --tertiary-gradient: linear-gradient(90deg, #FF4D4D 0%, #F9CB28 100%);
  --tertiary-gradient-shadow: linear-gradient(0deg, #FC8B3B 23.55%, transparent 100%);

  /* font sizes */
  --font-size-xl: 3rem;
  --font-size-l: 1.5rem;
  --font-size-m: 1.2rem;
  --font-size-s: 1rem;
  --font-size-xs: 0.9rem;

  /* font weights */
  --font-weight-bold: 800;
  --font-weight-medium: 500;
  --font-weight-regular: 400;

  /* globals separators */
  --global-padding: clamp(var(--font-size-s), 5vw, var(--font-size-m));
  --margin-separator: 3rem;

  --header-height: 3.3rem;


  /* global border radius */
  --global-border-radius: .3rem;
  --team-border-radius: 1rem;

  /* global box shadow */
  --global-box-shadow: 0px 0px 10px;
  --plans-box-shadow: 0px 0px 25px var(--grey-shadow);

  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;

  -o-object-fit: cover;
  -o-object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1rem;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

::-moz-selection,
::selection {
  background-color: var(--black);
  color: var(--blanco);
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  appearance: none;

  -ms-hyphens: auto;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-hyphens: auto;
}

body {
  font-size: 100%;
  color: var(--black);
  line-height: 1.4rem;
  hyphens: auto;
  font-smooth: always;

  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}