.header {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem var(--global-padding);
  position: sticky;
  top: 0;
  left: 0;
}

.links__container {
  display: flex;
  gap: 1.3rem;
}

.link {
  color: var(--black);
  font-weight: 600;
  font-size: 14px;
}