.hero {
  min-width: 100vw;
  padding: 0 var(--global-padding);

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.hero_container {
  display: grid;
  gap: 1rem;
  flex-grow: 999;
  max-width: clamp(40rem, 60vw, 100%);
}

.hero__title {
  font-size: clamp(2rem, 5vw, 3rem);
  line-height: clamp(2.8rem, 5.8vw, 3.8rem);
  font-weight: 700;
}

.hero__desc {
  font-size: 1.1rem;
  line-height: 1.9rem;
}

.hero__desc_bold {
  font-weight: 600;
}

.img_container {
  max-width: clamp(15rem, 300px, 60vw);
  flex-grow: 1;
  position: relative;
}

.buttons__container {
  display: flex;
  gap: 2rem;
  margin-top: clamp(1rem, 3vw, 2rem);
  align-items: center;
}