/* ---------------------------------- GLOBALS ------------------------- */
.headerCtn,
.contentBig {
  position: relative;
}

.bgImg,
.content,
.contentBig::before {
  position: absolute;
}

.bgImg,
.contentBig::before {
  top: 0;
  left: 0;
}

.bgImg,
.header,
.content {
  width: 100%;
}

.header,
.navbar,
.content,
.contentList > li {
  display: flex;
  align-items: center;
}

.header,
.content {
  color: var(--color-primary);
}

.navbar,
.logo {
  margin: 0;
}

.logo,
.quote1 {
  font-weight: 900;
}
.navbar,
.contentList {
  list-style: none;
}

.navbar,
.contentBig > h5 {
  font-weight: 500;
}

/* ------------------------------ Header ------------------------------------- */
.headerCtn {
  height: 65vh;
  overflow: hidden;
}

.bgImg {
  height: 100%;
  z-index: -1;
}

.header {
  max-width: 100vw;
  background-color: var(--black80);
  justify-content: space-around;
  padding: calc(1.5 * var(--padding-one)) 0;
}

.navbar {
  gap: var(--margin-one);
  font-size: var(--h4);
}

.navbar>li{
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.rotateContainer{
  display: none;
}

/* -------------------------------------HEADER CONTENT------------------------- */
.content {
  top: 50%;
  left: 50%;
  justify-content: space-evenly;
  transform: translate(-50%, -50%);
}

.contentBig {
  padding-left: var(--margin-one);
  padding-bottom: calc(0.5 * var(--padding-one));
}
.contentBig::before {
  content: "";
  height: 100%;
  width: 5px;
  background-color: var(--color-primary);
  border-radius: 2px;
}

.quote1,
.quote2 {
  letter-spacing: 5px;
}

.quote1 {
  font-size: var(--font-semibig);
  line-height: var(--font-semibig);
}

.quote2 {
  font-size: var(--font-bigger);
  font-family: "yellowtail", cursive;
  font-weight: 400;
  line-height: calc(var(--font-bigger) - var(--margin-one));
  margin-bottom: calc(1.5 * var(--margin-one));
}

.contentBig > h5 {
  font-size: var(--h5);
}

.contentList {
  color: white;
}

.contentList > li {
  margin: var(--padding-one) 0;
  gap: var(--padding-one);
}

.contentList > li > p {
  max-width: 30ch;
  font-size: var(--h6-p);
}

@media screen and (max-width: 780px) {
  .content {
    flex-direction: column;
    gap: calc(2 * var(--margin-one));
    padding-top: calc(69px + var(--margin-one));
    pointer-events: none;
  }
  .contentList > li > p {
    font-size: calc(3 - var(--h6-p));
  }
  @media screen and (max-width: 650px){
    .header{
      justify-content: space-between;
      padding-left: var(--margin-one);
      padding-right: var(--margin-one);
    }
    .rotateContainer{
      display: inherit;
    }
    .rotate, .menu{
      transition: transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
      d 300ms ease-in-out, opacity 300ms ease-out;
    }
    .menu{
      transform: rotate(45deg);
    }
    .menu > g > path:nth-child(1) {
      d: path("M16 3 L16 29");
    }
    
    .menu > g > path:nth-child(2) {
      d: path("M3 16 L29 16");
    }
    .navbarCtn{
      position: fixed;
      min-width: 250px;
      max-width: max(400px, 50vw);
      height: calc(100vh - 69px);
      top: 68px;
      right: 0;
      transform: translateX(100%);
      transition: transform 300ms linear;
      background-color: var(--black80);
      z-index: 1;
    }
    .reveal{
      transform: translateX(0);
    }

    .navbar{
      flex-direction: column;
      height: 100%;
      width: 100%;
      padding-top: calc(3 * var(--margin-one));
      gap: 0;
    }
    .navbar>li{
      padding: var(--padding-one) 0;
    }
    .navbar>li:hover{
      background-color: var(--color-secondary);
    }
  }
}
